<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
I found all the help I needed on <a href="https://www.railstutorial.org/">railstutorial.org</a> and <a href="https://stackoverflow.com/">Stack Overflow</a>
</p>